:root{
    --background-color: #5334F2;
    --yellow : #DCDE79;
    --soft-pink : #EDE0E0;
    --soft-yellow : #FBFFCD;

    --primary-font: "Figtree", sans-serif;

}

*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
}

a{
    text-decoration: none;
    color: var(--soft-pink);
    text-align: center;
    display: inline;
    font-family: var(--primary-font);
    padding-right: 5rem;
}

main{
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    color: var(--soft-pink);
}

footer{
    text-align: center;
    font-family: Figtree;
    color: var(--soft-pink);
    font-size: 2rem;
    margin-top: 40px;
}



@keyframes load{
    0%, 100%{
        padding-bottom: 250px;
    } 50%{
        padding-bottom: 300px;
    }
}

.preloading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    background: radial-gradient(97.08% 97.08% at 50% 50%, var(--background-color) 32.5%, var(--yellow) 100%);
}

.preloading h1{
    font-family: var(--primary-font);
    text-align: center;
    color: var(--soft-pink);
    font-size: 3rem;
}

.rocket_launch{
    font-size: 6rem;
    color: var(--soft-yellow);
    transform: rotate(-45deg);
}

.animated{
    position: absolute;
    animation: load 1s infinite linear;
} 

.content{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    align-items: center;
    margin-top: -5rem;
    padding-bottom: 3rem;
}

.person_raised_hand{
    font-size: 4rem;
    padding-left: 4rem;
    color: white;
    margin: 0;
}

.links{
    font-size: 2rem;
    font-weight: 500;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image, .text{
    text-align: center;
    padding: 1em;
}

.position{
    margin-top: -1em;
    position: relative;
    top: 3em;
    right: 3em;
}

.text{
    text-align: start;
    letter-spacing: 1px;
    font-family: Figtree;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.button{
    color: #fff;
    background-color: #5334F2;
    border: solid #fff 1px;
    border-radius: 10px;
    padding: 0.3em 0.9em;
    font-family: Figtree;
}

.text h1{
    padding: 1em 0em;
}

.text .p{
    padding-bottom: 2em;
}

.row{
    margin-top: 2em;
    border-bottom: solid #fff 1px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 320px){
    .preloading h1{
        font-size: 20px;
    }
    .rocket_launch{
        font-size: 70px;
    }
    .row{
        width: 70%;
    }
    :root{
        font-size: 4px;
    }
    .title{
        gap: 2em;
    }
    .eclipse{
        width: 250px;
        height: auto;
    }
    .about-me{
        width: 200px;
        height: auto;
    }
    .text-image{
        display: flex;
        flex-direction: column;
    }
    .text{
        font-size: 10px;
    }
    .person_raised_hand{
        font-size: 20px;
        padding-left: 15px;
        margin-top: -5px;
    }
}

@media (min-width: 375px){
    .preloading h1{
        font-size: 25px;
    }
    .rocket_launch{
        font-size: 75px;
    }
    .row{
        width: 70%;
    }
    header{
        padding-top: 2em;
    }

    .position{
        top: 4em;
        right: 6em;
    }
    a{
        font-size: 1.5em;
    }
    .text{
        font-size: 16px;
    }
    .person_raised_hand{
        font-size: 25px;
        padding-left: 10px;
        margin-top: -10px;
    }

}

@media (min-width: 425px){
    .row{
        width: 70%;
    }
    .preloading h1{
        font-size: 30px;
    }
    .rocket_launch{
        font-size: 80px;
    }
    .about-me{
        width: 250px;
        height: auto;
    }
    .text-image{
        width: 425px;
    }
    .eclipse{
        width: 300px;
        height: auto;
    }
    .text{
        font-size: 16px;
    }
    .person_raised_hand{
        font-size: 30px;
    }

}

@media (min-width: 768px){
    .row{
        width: 70%;
    }
    .preloading h1{
        font-size: 35px;
    }
    .rocket_launch{
        font-size: 85px;
    }
    header{
        padding-top: 4em;
        padding-bottom: 4em;
    }
    a{
        font-size: 1.5em;
        padding-right: 5em;
    }
    .text-image{
        flex-direction:row;
        gap: 3em;
        padding: 0em 2em;
        width: 768px;
    }
    .image{
        padding-left: 6em;
    }
    .text{
        padding-top: 7em;
        font-size: 13px;
    }
    .button{
        font-size: 1.1em;
    }
    .eclipse{
        width: 400px;
        height: auto;
    }
    .about-me{
        width: 350px;
        height: auto;
    }
    .person_raised_hand{
        font-size: 35px;
        padding-left: 20px;
        margin-top: -10px;
    }

}

@media (min-width: 1024px){
    .preloading h1{
        font-size: 40px;
    }
    .rocket_launch{
        font-size: 90px;
    }
    .text-image, .row{
        width: 70%;
    }
    :root .box-load{
        font-size: 20px;
    }
    footer{
        display: flex;
        justify-content: center;
    }
    .footer{
        padding-bottom: 25px;
    }
    .eclipse{
        width: 500px;
        height: auto;
    }
    .about-me{
        width: 400px;
        height: auto;
    }
    .text{
        font-size: 12px;
    }
    .person_raised_hand{
        font-size: 40px;
    }

}

@media (min-width: 1440px){
    .preloading h1{
        font-size: 45px;
    }
    .rocket_launch{
        font-size: 95px;
    }
    header{
        padding-top: 7em;
    }
    a{
        font-size: 2em;
    }
    main{
        font-size: 4.5em;
    }
    footer{
        font-size: 12px;
    }
    .about-me{
        width: 500px;
        height: auto;
    }

    .eclipse{
        width: 600px;
        height: auto;
    }
    .text{
        font-size: 18px;
    }
    .person_raised_hand{
        font-size: 45px;
    }

}

@media (min-width: 2560px){
    .preloading h1{
        font-size: 50px;
    }
    .rocket_launch{
        font-size: 100px;
    }
    header{
        padding-top: 10em;
    }
    a{
        font-size: 3em;
    }
    .eclipse{
        width: 700px;
        height: auto;
    }
    .about-me{
        width: 600px;
        height: auto;
    }
    main {
        font-size: 7em;
    }
    .footer{
        padding-bottom: 25px;
    }
    .text{
        font-size: 30px;
    }
    .person_raised_hand{
        font-size: 60px;
    }


}
